.container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px px rgba(0, 0, 0, 0.1);
    background-color: #eaf2f8;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 40vh;
    margin-top: 30vh;
    margin-left: 35vw;

}